[submodule "bundle/sparkup-source"]
	path = bundle/sparkup-source
	url = https://github.com/rstacruz/sparkup.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
